<div class="comment-card position-relative" *ngIf="comment$ | async as comment">
  <header class="d-flex align-items-center">
    <img class="avatar img-fluid rounded-circle" src="{{comment.image}}" alt="">
    <p class="m-0 fw-bolder dark-blue-text">{{comment.username}}</p>
    <p *ngIf="(user.name === comment.username);" class="m-0 blue-bg rounded-1 px-2 pb-1 pt-0 user">you
    </p>
    <p class="m-0 time">{{comment.time | date: 'mediumDate'}}</p>
  </header>
  <p *ngIf="!editMode" class="my-3 text"><span class="blue-text fw-bolder">{{comment.replyUser}}</span>
    {{comment.text}}</p>
  <form class="d-flex flex-wrap" *ngIf="editMode" [formGroup]="commentEdit" (ngSubmit)="updateComment()">
    <textarea class="w-100 mt-3" formControlName="comment" name="" id="" rows="3"></textarea>
    <button class="flex-grow-0 ms-auto btn-sqr blue-bg" type="submit">update</button>
  </form>
  <div class="d-flex justify-content-between align-items-center">
    <div class="score-control light-grey-bg d-flex justify-content-between align-items-center">
      <button class="my-btn light-grey-text"><i class="bi bi-plus"></i></button>
      <p class="m-0 text-center blue-text">{{comment.score}}</p>
      <button class="my-btn light-grey-text"><i class="bi bi-dash"></i></button>
    </div>
    <button *ngIf="!(user.name === comment.username);else edit" class="my-btn reply fw-bolder text-primary"
      (click)="reply(comment.username)"><i class="bi bi-arrow-90deg-left px-1"></i>Reply</button>
    <ng-template #edit>
      <div class="edit-comment">
        <button class="my-btn fw-bolder text-danger" (click)="deleteComment()"><i
            class="bi bi-trash px-1"></i>Delete</button>
        <button class="my-btn fw-bolder text-primary" (click)="editComment()"><i
            class="bi bi-pen px-1"></i>Edit</button>
      </div>
    </ng-template>
  </div>
</div>