<div class="mb-3">
  <app-comment-card [index]="mainIndex" (replyEvent)="onReply($event)"></app-comment-card>
  <div class="replies d-flex flex-column">
    <app-comment-card (replyEvent)="onReply($event)" *ngFor="let reply of comment.replies; let i = index"
      [index]="mainIndex" [replyIndex]="i"></app-comment-card>
    <app-comment-input (displayInput)="onHideInput($event)" *ngIf="showInput" [index]="mainIndex" [reply]="true"
      [replyUser]="replyUser"></app-comment-input>
  </div>
</div>