.replies {
  margin-top: 1rem;
  padding-left: 1rem;
  gap: 1rem;
}
.replies:empty {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .replies {
    margin-left: 2rem;
    padding-left: 2rem;
  }
}
